.venv/
.vscode/
__pycache__/
*.pyc
.env
data/raw/*.csv
data/bronze/
data/ai_audit/
data/lakehouse/
data/streaming/
data/*.duckdb
data/*.duckdb.wal
data/qdrant_db/
data/processed/*.csv
target/
dbt/target/
dbt/dbt_packages/
dbt/.user.yml
orchestration/airflow/logs/
orchestration/airflow/plugins/
*.log
.DS_Store
venv/
