pandas==2.2.3
numpy==2.2.1
faker==33.3.1
requests==2.32.3
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pyarrow==18.1.0
streamlit==1.41.1
plotly==5.24.1
dbt-core==1.8.9
dbt-postgres==1.8.2
qdrant-client==1.12.1
openai==1.59.6
